In [9]:
# Set autoreload
%load_ext autoreload
%autoreload 2

import os
import sys
import pandas as pd
import hashlib
sys.path.append('../app/src')
from config import config
import sqlite3

pd.set_option('display.max_columns', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
con_file = sqlite3.connect(config.ARTIFACTS_PATH / 'sql_database.db')

In [15]:
pd.read_sql_query(
"""
SELECT
    DISTINCT fac.Client
FROM financial_advisor_clients AS fac
JOIN client_target_allocations AS cta
    ON fac.Client_id = cta.Client_id
WHERE
    cta."Target Allocation (%)" > 5
    AND cta."Asset Class" = "Cash"
    AND fac."Analyst Rating" = "Sell"
""", con=con_file)

      Client
0   Client_7
1   Client_8
2  Client_21
3  Client_22
4  Client_30
5  Client_33
6  Client_41
7  Client_48